* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  text-decoration: none;
  list-style: none;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .nav-menu-list li {
    @apply w-full;
    @apply py-2;
    @apply font-semibold;
    @apply cursor-pointer;
    @apply text-center;
    @apply border-gray-400;
    @apply border-y-2;
    @apply border-opacity-0;
    @apply hover:border-opacity-100;
    @apply bg-rose-400;
  }
}

.css-3d-text {
  color: #f1e8e8;
  font-family: "Arial Black", Gadget, sans-serif;
  text-shadow: 0px 0px 0 rgb(-4,5,11),
               1px 1px 0 rgb(-27,-18,0),
               2px 2px 0 rgb(-50,-41,0),
               3px 3px  0 rgb(-73,-64,0),
               4px 4px 3px rgba(26,197,235,0.3),
               4px 4px 1px rgba(26,197,235,0.5),
               0px 0px 3px rgba(26,197,235,.2);
}

